@import './item/style';

.items {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  width: 80%;

  &__list {
    display: flex;
    flex-direction: column;

    &__empty {
      @include secondaryCombo;
      @include genericButton;
      align-items: center;
      border-style: solid;
      border-width: 1px;
      display: flex;
      font-size: 30px;
      font-weight: bold;
      height: 100px;
      justify-content: center;
      margin-top: 30px;
      text-align: center;
		}
	}

  &__search {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 30px;

    &__input {
      flex-grow: 0;
      margin-right: 10px;
      max-height: 12px;
      width: 400px;
		}
	}
}
