.item-state {
  position: relative;

  &__options {
    background-color: $third-color;
    border: solid 2px;
    padding: 10px;
    position: absolute;
    top: -45px;
    white-space: nowrap;
    z-index: 2;

    &:hover {
      font-weight: normal;
    }

    &__option {
      margin: 10px 0;

      &:hover {
        font-weight: bold;
      }
    }
  }
}
