
footer {
  background-color: $navbar-color;
  color: $white;
  flex-shrink: 0;
  height: 40px;
  margin-top: auto; // Sends the footer to the bottom
  text-align: right;
  width: 100%;

  div {
    margin-right: 10px;
    position: relative;
    top: 25%;
  }
}
