.profile {
  display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
  margin-top: 100px;
  text-align: center;

  &__element {
    display: flex;
    flex-direction: row;
    width: 500px;
    margin: auto;

    &__name {
      text-align: left;
      width: 300px;
    }

    &__value {
      text-align: left;
      width: 400px;
    }
  }

  &__submit {
    @include account__submit-button;
    width: 80px;
  }

  &__notification {
     @include account__notification;
  }
}