@import './update-box/style';
@import './elements/style';

.profile {
  display: flex;
	flex-direction: column;
	width: 80%;
  margin-top: 100px;
  margin: auto;

  &__title {
    border-bottom: solid 1px $font-color;
    margin-bottom: 50px;
    width: 600px;
  }

  &__success-notification {
    color: $font-color-success;
    font-size: $font-big;
  }
}