$box-shadow-color: rgba(0, 0, 0, 0.2);

.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;

  &__button {
    @include secondaryCombo;
    @include genericButton;
  }

  &__content {

    @include thirdCombo;
    box-shadow: 0 8px 16px 0 $box-shadow-color;
    display: flex;
    flex-direction: column;
    min-width: 160px;
    position: absolute;
    top: 16px;
    z-index: 1;

    &__option {
      text-align: center;
      width: 100%;

      &:hover {
        background: $primary-color;
        cursor: pointer;
        font-weight: bold;
      }
    }
  }

  &__arrow-down {
    border: solid $black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    margin-left: 4px;
    padding: 3px;
    transform: rotate(45deg);
  }
}
