.profile__element {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  width: 600px;

  &__name {
    font-size: $font-big;
    text-align: left;
  }

  &__value {
    color: $font-color-light;
    text-align: left;
    width: 400px;

    &--updated {
      color: $font-color-alert;
      text-align: left;
      width: 400px;
    }
  }

  &__change-value {
    display: flex;
    margin-left: auto;
  }
}
