.categories {

  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  width: 80%;

  &__configuration-option {
    @include genericButton;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 5px;

    span {
      cursor: pointer;
      flex-grow: 0;
      white-space: nowrap;
    }
	}

  &__list {
    display: flex;
    flex-direction: column;

    &__element {
      @include secondaryCombo;
      @include genericButton;
      align-items: center;
      border-style: solid;
      border-width: 1px;
      cursor: pointer;
      display: flex;
      font-size: 30px;
      height: 100px;
      justify-content: center;
      margin-bottom: 30px;
      text-align: center;
		}

    &__empty {
      @include secondaryCombo;
      @include genericButton;
      align-items: center;
      border-style: solid;
      border-width: 1px;
      display: flex;
      font-size: 30px;
      font-weight: bold;
      height: 100px;
      justify-content: center;
      margin-top: 30px;
      text-align: center;

		}
	}

  // Groups display
  .sortby-menu {
    text-align: right;
	}

  .group-list {

    p {
      font-weight: bold;
		}

    .item-info {
      border: solid;
		}
	}

}
