.modal-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
}

.modal {
  @include primaryCombo;
  border: 2px solid;
  display: column;
  left: 50%;
  min-height: 150px;
  min-width: 400px;
  padding: 40px 10px 20px;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-50%); //Centers the modal-box in the center of the screen
  z-index: 5;

  &__buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__actions {
      border: 1px solid;
      cursor: pointer;
      margin-left: 30px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__input-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px 0 50px;

    &__title {
      align-self: center;
      box-sizing: border-box;
      padding: 5px;
      width: 100%;
    }

    &__element {
      box-sizing: border-box;
      padding: 5px;
      width: 50%;
    }
  }

  &__notification {
    color: $font-color-alert;
    margin-top: 10px;
  }

  &__single-element {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 15px 0 50px;
  }
}
