@import './rating/style';
@import './state/style';

.items-element {
  @include secondaryCombo;
  @include genericButton;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 10px;
  min-height: 30px;
  position: relative;
  text-align: center;

  &__name {
    margin: 20px auto;
  }

  &__rating-and-state {
    position: absolute;
    right: 50px;
    top: 10px;
  }

  &__notification {
    font-weight: bold;
    margin-top: 10px;
    min-height: $font-normal;
  }
}
