@import './state/style';
@import './details/style';

.items-element {
  @include secondaryCombo;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 10px;
  min-height: 30px;
  padding: 20px;
  position: relative;
  text-align: center;

  &__body {
    display: flex;

    &__image {
      height: auto;
      width: 50px;

      &:hover {
        transform: scale(1.5, 1.5);
      }
    }

    &__title {
      flex-grow: 1;
      margin: auto;
    }

    &__rating-and-state {
      margin: auto;
      margin-right: 20px;
    }

    &__remove-button {
      @include genericButton;
      border: 0.5px solid;
      border-radius: 50%;
      font-weight: bold;
      height: 25px;
      position: relative;
      top: 2px;
      width: 25px;

      &:hover {
        color: $font-color-alert;
      }
    }
  }

  &__extra-info {
    margin-top: 20px;
  }

  &__notification {
    font-weight: bold;
    margin-top: 10px;
    min-height: $font-normal;
  }
}
