@import './state/style';

.items-element {
  @include secondaryCombo;
  @include genericButton;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  margin-bottom: 10px;
  min-height: 30px;
  padding: 20px;
  position: relative;
  text-align: center;

  &__image {
    height: auto;
    width: 50px;
  }

  &__title {
    flex-grow: 1;
    margin: auto;
  }

  &__rating-and-state {
    margin: auto;
    margin-right: 20px;
  }

  &__notification {
    font-weight: bold;
    margin-top: 10px;
    min-height: $font-normal;
  }
}
