.profile__update-box {
  width: 600px;

  &__bottom-container {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  &__submit {
    @include accountSubmitButton;
    margin-left: auto;
    width: 80px;
  }

  &__notification {
    @include accountNotification;
    color: $font-color-alert;
  }
}
