.profile__update-box {
  width: 600px;

  &__bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
    
  &__submit {
    @include account__submit-button;
    width: 80px;
    margin-left: auto;
  }
      
  &__notification {
    color: $font-color-alert;
    @include account__notification;
  }
}