.add-value-input {
  display: flex;
  flex-direction: row;

  &__input {
    max-width: 100px;
  }

  &__button {
    @include genericButton;
    margin: 0 5px;
  }

  &__show-button {
    @include styledButton;
  }
}
