// Here we are creating some common mixins for the styles of the 
// Log In and the Create Account components.
@mixin accountInputForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  width: 80%;

  &__element {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__input {
      height: 15px;
      margin-left: 10px;
      max-width: 100px;
    }
  }
}

@mixin accountSubmitButton {
  @include styledButton;
  align-self: center;
  font-size: $font-big;
  margin: 25px;
}

@mixin accountRedirectMessage {
  &__trigger {
    @include genericButton;
    font-size: $font-big;
  }
}

@mixin accountNotification {
  font-weight: bold;
  margin-top: 10px;
  min-height: $font-normal;
}

// Importing components style files
@import './log-in/style';
@import './create/style';
